.InputField {
  .p-inputtext {
    width: 100%;
    height: 4.5rem;
    border-radius: 0.6rem;
    padding-left: 1.5rem;
    border: none;
  }

  .p-inputtext:enabled:focus {
    // box-shadow: none;
  }
}
